

<footer class="bg-dark text-white py-4  mt-auto ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Follow Us</h5>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 text-md-right">
                <ul class="list-unstyled">
                    <li><a href="#">Terms & Privacy</a></li>
                    <li>&copy; 2024 WanderLust</li>
                </ul>
            </div>
        </div>
    </div>
</footer>